# Entorno virtual
.venv/
env/
venv/

# PyInstaller build folders
build/
dist/
*.spec

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Archivos temporales
*.log
*.tmp

# Config de VSCode (opcional si quieres excluir todo menos settings.json)
.vscode/*
!.vscode/settings.json

# Cobertura de tests
.coverage
htmlcov/

# Variables de entorno (si contienen claves sensibles)
.env