<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <form action="/buscar_credito">

        <h1>Buscar un credito</h1>

        <p>Ingrese el nombre del usuario al que pertenece e credito</p>

        <div>
            Nombre: <input type="text" name="nombre" />
        
        </div>
        </div>
        <input type="submit" value="Buscar" />
    </form>
 
    <form action="/insertar">

        <h2>Insertar un credito</h2>
    
    <table>
        <tr>
            <td>Nombre:</td>
            <td><input type="text" name="nombre" /></td>
        </tr>
        <tr>
            <td>Monto del crédito:</td>
            <td><input type="number" name="monto_credito" /></td>
        </tr>
        <tr>
            <td>Duración del periodo de gracia (meses):</td>
            <td><input type="number" name="duracion_periodo_meses" /></td>
        </tr>
        <tr>
            <td>Tasa de interés anual (%):</td>
            <td><input type="number" name="tasa_interes_anual" /></td>
        </tr>
        <tr>
            <td>Plazo de amortización (meses):</td>
            <td><input type="number" name="plazo_amortizacion" /></td>
        </tr>
    </table>
        <input type="submit" value="Insertar" />
    </form>
</body>

</html>
</body>

</html>

